
.event-section {
    h2{
        color: white;
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-weight: normal;

        span {
            color: #ff1e00b7;
        }
    }
}