@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Matemasie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Basic styling for the Navbar */
nav {
    position: fixed;
    width: 85%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12.9vh;
    margin-top: 0.5rem;
    // margin-left: 6rem;
    border-radius: 15px;
    // transition: background-color 0.3s ease;
    background-color: rgba(37, 37, 37, 0.548);
    .logo {
        width: 10%;
        height: auto;
        margin-left: clamp(1rem,1.5vw,2rem);
        align-items: center;
        img {
            width: 100px;
            height:auto;
            border-radius: 0px;
            padding: 0.4rem;
        }
    }
    ul {
        display: flex;
        width: 70%;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        margin: 0;
        height:auto; //update
        li {
            position: relative;
            display: inline-block;
            list-style: none;
            a {
                display: block;
                text-decoration: none;
                padding: 0.5rem;
                color: rgb(202, 201, 201);
                font-size: 1.05rem;
                letter-spacing: 2px;
                font-family: "Poppins", system-ui;
                text-wrap: wrap;
                text-align: center;
                font-weight: 500;
                font-style: normal;
                transition: color 0.3s ease;
            }
        }
    }
}

// #navbar.scrolled {
//     background-color: #080018;
//     height: 100px;
// }
nav ul li::after {
    content: "";
    width: 0;
    height: 2px;
    background: #ff2a1a;
    display: block;
    margin: auto;
    transition: 0.7s;
}
nav ul li:hover::after {
    width: 100%;
}
nav ul li a:hover {
    color: #ffffff; /* Change text color on hover */
}

// Mobile View is Left
// #homeli {
//     color: #e3d792;
//     background-color: rgba(0, 0, 0, 0);
// }

.checkbtn {
    font-size: 30px;
    color: #92e3a9; /* Default color of the hamburger icon */
    cursor: pointer;
    display: none;
    transition: color 0.3s ease;
}

.checkbtn:hover {
    color: #48ce6e; /* Color on hover */
}

#check {
    display: none;
}

.fa-bars::before {
    content: "\f0c9";
}

/* Change icon color when checked (menu open) */
#check:checked ~ .checkbtn {
    color: #ff6464; /* Change this color to your desired one when the menu is open */
}

@media screen and (max-width: 1224px) {
    nav {
        width: 100%;
        margin: auto;
    }
    nav ul {
        width: 80%;
    }
    nav ul li a {
        padding: 0.3rem;
    }
}

@media screen and (max-width: 1024px) {
    nav {
        margin: 1rem 0rem;
        border-radius: 0px;
        // height: 8.5vh;
        margin: 0;
    }
    nav ul li a {
        padding: 0.5rem;
    }
}

// @media screen and (max-width: 856px) {
//     nav {
//         margin: 1rem 0rem;
//         // border-radius: 15px;
//     }
//     nav ul li a {
//         padding: 0.6rem;
//     }
// }
// Mobile View
@media screen and (max-width: 756px) {
    nav {
        position: static;
        width: 100%;
        margin: auto auto;
        background-color: transparent;
        border-radius: 0;
        .logo {
            width: 40%; /* Adjust width as needed */
            height: 100%; /* Adjust height as needed */
            margin-left: 1rem;
            align-items: center;
            img {
                margin-block:10px;
                // margin-top: 1rem;
                width: auto;
                height: 90%;
            }
        }
    }
    .checkbtn {
        display: flex;
        justify-content: start;
        width: 20%;
        align-items: center;
        height: 100%;
        color: #fa0808; /* Default color for hamburger icon */
        font-size: 1.5rem;
        z-index: 150;
        // transition: color 0.3s ease;
    }

    // .checkbtn:hover {
    //     color: #67ee8d; /* Color on hover for small screens */
    // }

    #check:checked ~ .checkbtn {
        color: #ff6464; /* Color when menu is open */
    }

    // #homeli {
    //     background-color: rgba(0, 0, 0, 0);
    // }

    .list {
        display: block;
        width: 100%;
        position: absolute;
        z-index: 120;
        background: rgb(49, 46, 46);
        top: -100vh;
        height: max-content;
        padding-bottom: 1.5rem;
        text-align: center;
        transition: all 0.5s;
    }

    .list li {
        width: 100%;
        height: 2rem;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 10px;
        color: #fff;
        margin-top: 20px;
        border-top: #606060 solid 1px;
        &:first-child{
            border-top: none;
        }
    }

    .list li a {
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
    }

    .list li a:hover {
        background-color: rgb(57, 57, 57);
        color: #e46b09;
    }
    nav ul li:hover::after {
        width: 0%;
    }

    nav ul li {
        display: block;
    }

    #check:checked ~ ul {
        top: 0vh;
        transition: all 0.5s ease-in;
    }

    #check:checked ~ .checkbtn i::before {
        content: "\f00d";
    }
}
