/* Events section */
.event-card {
    box-shadow: 0 -5px 25px 0 rgba(4, 1, 63, 0.986);
    background-color: #01010e93;
    transition: 0.3s;
    border-radius: 5px;
    /* 5px rounded corners */
}

.event-card:hover {
    box-shadow: 0 -5px 35px 0 rgba(6, 1, 114, 0.986);
    cursor: pointer;
}

.event-card-img-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 300px; */
    margin-top: 10px;
    margin-left: 30px;

    border-radius: 5px 5px 0 0;
    /* Rounded corners at the top */
}

.event-card-body {
    padding: 1em;
}

.event-card-title {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
}

.event-card-text {
    font-size: 1em;
    color: #b6afaf;
}

/* upcoming event event-card buttons */
.btn-primary-upcoming {
    border: none;
    color: white;
    padding: 15px 32px;
    background-color: #05e977ee;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 67px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn-primary-upcoming:hover {
    background-color: #0cf13eee;
    color: white;
}

.btn-primary {
    border: none;
    color: white;
    padding: 15px 32px;
    background-color: #ff1e00b7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn-primary:hover {
    background-color: #ff1e00;
    color: white;
}

.coreteam-item img {
    border-radius: 20px;
    /* max-width: 90%; */
    height: 300px;
    width: 300px;
    vertical-align: middle;
}

.event-card {
    width: calc((100% / 3) - 40px);
    margin: 0 50px 30px;
    position: relative;
    transition: box-shadow 0.5s ease;
    border-radius: 20px;
}

.event-card .event-card-img-top {
    width: calc(100% - 60px);
    position: relative;
    z-index: 1;
    transition: transform 0.5s ease;
}

/* .coreteam-item:hover img{
   transform: translatey(-60px);
} */
.event-card .body {
    color: white;
    border: 2px solid white;
    display: inline-block;
    margin: 10px 50px;
}

.event-card h3 {
    font-family: "Raleway", sans-serif;
    position: absolute;
    background: #070707bd;
    right: 0;
    bottom: 15px;
    padding: 2px 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    z-index: 2;
    transition: right 0.5s ease;
    margin-left: 75px;
}

@media screen and (max-width: 479px) {
    .event-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .event-card {
        margin: 10px;
    }

    .event-card-title {
        font-size: 1.02em;
        font-weight: bold;
        color: white;
    }

    .event-card-text {
        font-size: 0.8em;
        color: #b6afaf;
    }

    .btn-primary {
        /* background-color: #007bff; */
        border: none;
        color: white;
        padding: 15px 32px;
        background-color: #ff1e00b7;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-top: 20px;
        margin-left: 42px;
        cursor: pointer;
        transition-duration: 0.4s;
    }

    .btn-primary:hover {
        background-color: #ff6b57;
        color: white;
    }
}
