/* Events section */
.event-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 -5px 25px 0 rgba(4, 1, 63, 0.986);
    background-color: #01010e93;
    transition: 0.3s;
    border-radius: 10px;
    height: 500px;
    justify-content: space-between;
}

.event-card:hover {
    box-shadow: 0 -5px 35px 0 rgba(6, 1, 114, 0.986);
    cursor: pointer;
}

.event-card-img-top {
    width: 100%;
    /* height: 300px; */
    // margin-top: 10px;
    margin-left: auto;   // center horizontally
    margin-right: auto;  // center horizontally
    display: block;
    border-radius: 5px 5px 0 0;
    /* Rounded corners at the top */
}

.event-card-body {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.event-card-title {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
}

.event-card-text {
    font-size: 1em;
    color: #b6afaf;
}

.event-button {
    border: none;
    color: white;
    padding: 15px 32px;
    background-color: #ff1e00b7;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 16px;   // reduced top margin
    margin-bottom: 16px; // added bottom margin for even spacing
    cursor: pointer;
    align-self: center;
    transition-duration: 0.4s;
}

.event-button:hover {
    background-color: #ff1e00;
    background-color: #ff6b57;
}
/* upcoming event event-card buttons */
.event-button-upcoming {
    background-color: #05e977ee;
}

.event-button-upcoming:hover {
    background-color: #0cf13eee;
}

.event-card {
    width: calc((100% / 3) - 40px);
    margin: 0 50px 30px;
    position: relative;
    transition: box-shadow 0.5s ease;
    border-radius: 20px;
}

.event-card .event-card-img-top {
    width: 100%;
    position: relative;
    z-index: 1;
    transition: transform 0.5s ease;
    margin-left: auto;   // center horizontally
    margin-right: auto;  // center horizontally
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.event-card .body {
    color: white;
    border: 2px solid white;
    display: inline-block;
    margin: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-card h3 {
    font-family: "Raleway", sans-serif;
    position: absolute;
    background: #070707bd;
    right: 0;
    bottom: 15px;
    padding: 2px 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    z-index: 2;
    transition: right 0.5s ease;
    margin-left: 75px;
}

@media screen and (max-width: 479px) {
    .event-card {
        width: 90%;
        margin-bottom: 20px;
    }

    .event-card {
        margin: 10px;
    }

    .event-card-title {
        font-size: 1.2em;
    }

    .event-card-text {
        font-size: 1em;
    }

    .event-button {
        padding: 15px 32px;
        font-size: 14px;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .event-card .event-card-img-top {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
