.mission-container {
    width: 1200px;
    padding: 0px;
    margin: 20px auto;
}
.mission-container-title span {
    color: var(--highlight-color);
}

.gradient-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 600px;
    gap: 32px;
    padding: 30px;
}
#animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s;
}

#animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

.mission-container-title {
    text-align: center;
    font-family: var(--heading-font);
    padding: 0px;
    margin-bottom: 20px;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 100px;
}
.mission-container-text {
    font-family: var(--paragraph-font);
    color: whitesmoke;
    font-size: 24px;
}

.mission-card {
    max-width: 400px;
    border: 0;
    width: 100%;
    margin-inline: auto;
    background-color: none;
    background: none;
}

.mission-container-card {
    position: relative;
    border: 2px solid transparent;
    background-clip: padding-box;
    border-radius: 45px;
    padding: 23px;
    height: 100%;
    img {
        margin-bottom: 32px;
    }
}

.mission-container-card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    border-radius: 45px;
}
.bg-white-box img {
    margin-bottom: 50px;
}
.bg-green-box::after {
    background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
    background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
    background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
    background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.mission-card-title {
    font-weight: 600;
    font-family: var(--heading-font);
    color: rgb(255, 255, 255);
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
}

.mission-card-description {
    font-weight: 400;
    font-family: var(--paragraph-font);
    line-height: 32px;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 16px;
    max-width: 470px;
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
    .mission-container {
        padding: 0px;
        margin: 0px 50px;
    }
}
@media screen and (max-width: 991px) {
    .mission-container {
        padding: 0px;
        margin: 0px 20px;
        height: auto;
    }
    .mission-container-text {
        text-align: justify;
    }
    .gradient-cards {
        padding: 0px;
    }
    .mission-container-card {
        padding: 20px;
    }
    .mission-card-title {
        font-size: 24px;
    }
    .mission-card-description {
        font-size: 14px;
    }
    .mission-container-card img {
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    .mission-container {
        padding: 0px;
        margin: 0px 20px;
        width: auto;
        max-width: none;
    }
    .gradient-cards {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 768px) {
    .mission-container {
        padding: 0px;
        margin: 0px 20px;
        width: auto;
        max-width: none;
    }
}
@media screen and (max-width: 479px) {
    .gradient-cards {
        padding: 0px;
    }
}
