.activity-container {
    max-width: 100vw;
    margin: 10px 0px;
    overflow: hidden;
}
.activity-container .heading {
    color: white;
    font-size: 40px;
    font-family: var(--heading-font);
    font-weight: 600;
    width: 640px;
    margin: auto;
    padding: 0px;
}
.heading span {
    color: var(--highlight-color);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 90px 0px;
    padding: 20px 50px;
    width: auto;
    max-width: 100vw;
    align-items: center;
}

.card-circle {
    text-align: center;
    font-family: var(--heading-font);
    background-image: radial-gradient(#0c0000ba, #080018ac);
    border: 10px solid transparent;
    color: #fff;
    font-family: Montserrat;
    padding: 0px;
    border-radius: 50%;
    border: 2px solid rgb(209, 209, 209);
    aspect-ratio: 1;
    border: 20px;
    margin: 0px;
}
.card-body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    aspect-ratio: 1;
    margin: 0px;
}
.card-body .card-img {
    width: 150px;
    height: 150px;
    /* aspect-ratio: 1; */
    margin: -15px 0px;
    margin-top: -10px;
}
.card-circle .card-title {
    font-weight: 700;
    font-size: 22px;
}
.card-circle .card-text {
    font-family: var(--paragraph-font);
    font-weight: 500;
    padding: 0px 25px;
    margin-top: 20px;
}
.card-circle:nth-child(2) {
    background: #000818a2;
}

.card-circle {
    transition: all ease-in-out 400ms;
}
.card-circle:hover {
    box-shadow: 0 0 4px 5px #00a8cc;
}
.card-circle:nth-child(2):hover {
    box-shadow: 1px 2px 20px 8px #00a8cc;
}
@media only screen and (min-width: 1200px) {
    .card-circle {
        width: 400px;
    }
    .card-circle:nth-child(3) {
        margin: 0px auto;
        z-index: 0;
    }
    .card-circle:nth-child(2) {
        margin: 0px auto;
        z-index: 1;
        animation: box-shadow 500ms 0ms;
    }
    .card-circle:nth-child(1) {
        margin: 0px auto;
        z-index: 2;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .row {
        margin: 20px auto;
    }
    .card-circle {
        width: 340px;
    }
    .card-circle .card-title {
        font-size: 20px;
    }
    .card-circle:nth-child(3) {
        margin: 10px auto;
        z-index: 0;
    }
    .card-circle:nth-child(2) {
        margin-left: -20px;
        z-index: 1;
    }
    .card-body .card-title {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .card-body .card-text {
        font-size: 16px;
    }
    .card-body .card-img {
        width: 100px;
        width: 100px;
        margin: 0px 0px;
    }
}

@media screen and (max-width: 991px) {
    .activity-container .heading {
        font-size: 36px;
        width: auto;
        margin: auto;
        margin-top: 100px;
        text-align: center;
    }
    .row {
        padding: 0px;
        margin: 50px auto;
        height: 600px;
        justify-content: space-around;
    }
    .card-circle {
        width: 300px;
        aspect-ratio: 1;
        margin: 0px;
    }
    .card-body {
        border-radius: 100px;
    }
    .card-body .card-title {
        font-size: 17px;
    }
    .card-body .card-text {
        font-size: 14px;
    }
    .card-body.card-image {
        width: 100px;
        height: 100px;
        margin: 0px;
        margin-top: 0px;
    }
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
        padding: 10px;
        margin: 20px auto;
        height: 1200px;
    }
    .card-circle {
        width: 360px;
        margin: 0px auto;
    }
    .card-body.card-image {
        width: 120px;
        height: 120px;
        margin: -20px 0px;
        margin-top: 0px;
    }
}
@media screen and (max-width: 479px) {
    .activity-container .heading {
        font-size: 20px;
        width: auto;
        margin: auto;
        margin-top: 100px;
        text-align: center;
    }
    .row {
        padding: 0px;
        margin: 50px auto;
        height: 1200px;
        justify-content: space-around;
    }
    .card-circle {
        width: 300px;
        margin: 0px 10px;
        background: #000818f6;
    }
    .card-body {
        border-radius: 100px;
    }
    .card-body .card-title {
        font-size: 17px;
        font-weight: 700;
    }
    .card-body .card-text {
        font-size: 14px;
    }
    .card-body.card-image {
        width: 100px;
        height: 100px;
        margin: -20px 0px;
        margin-top: 0px;
    }
}
