.carousel {
    height: 600px;
    width: 100%;
    margin: 0;
    display: flex;
    // grid-template-rows: 500px;
    // grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-content: center;
    position: relative;
    // perspective: 2000px; /* Perspective for 3D effect */
    div#carousel {
        // grid-row: 1 / 2;
        // grid-column: 1 / 8;
        position: relative;
        width: 50%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        // overflow: hidden;
        transform-style: preserve-3d;
        perspective: 600px;
        // --items: 5;
        // --middle: 3;
        // --position: 1;
        pointer-events: none; /* Prevent interaction with items */
        div.item {
            position: absolute;
            width: 600px;
            height: max-content;
            // transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
            // z-index: calc((var(--position) - var(--abs)));
            z-index: 0;
            opacity: 0;
            pointer-events: none;
            transition: transform 0.5s, opacity 0.5s;

            display: flex;
            justify-content: center;
            align-items: center;
            // box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                // border: 3px solid white;
                border-radius: 20px;
            }
        }
        .item.active {
            opacity: 100%;
            pointer-events: auto;
            transform: translateZ(100px) translateX(0px);
            z-index: 20; /* Ensure active item appears in front */
        }
        .item.prev{
            opacity: 60%;
            pointer-events: auto;
            transform: translateZ(-10px) translateX(-250px);
            // filter: brightness(50%);
        }
        .item.next{
            opacity: 60%;
            pointer-events: auto;
            transform: translateZ(10px) translateX(250px);
        }
    } 
    /* Add navigation buttons */
    .carousel-prev,
    .carousel-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        color: white;
        font-size: 2rem;
        padding: 10px;
        cursor: pointer;
        z-index: 1000;
        pointer-events: auto;
    }

    .carousel-prev {
        left: 20px;
    }

    .carousel-next {
        right: 20px;
    }

    .carousel-prev:hover,
    .carousel-next:hover {
        color:#e46b09;
    }

}

@media screen and (max-width: 756px) {
    .carousel{
        height: 400px;
        div#carousel{
            width: 40%;
            height:max-content;
            div.item img{
                width:250px;
                height: auto;
            }
        }
    }
}